@media screen and (max-width: 767px) {
    .container {
        margin: 0 auto;
        width: 95%;
        height: auto;

        position: relative;
    }

    .container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .container-top h3:nth-of-type(1) {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
    }

    .container-top h3:nth-of-type(2) {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    #project-line {
        border: 2px solid #6643b5;
        width: 100px;
        margin-top: -25px;

        position: relative;
        left: 75%;
    }

    .project-container {
        margin-top: 50px;
    }

    .projects {
        margin-bottom: 30px;
    }

    .project-image img {
        width: 100%;
        height: 210px;
    }

    .project-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .technology {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        gap: 20px;
        opacity: 0.7;
        margin-bottom: 10px;
    }

    .overlay-text {
        display: flex;
        gap: 15px;
    }

    .project-links a {
        text-decoration: 4px underline #6643b5;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px; 
        letter-spacing: 2.286px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 95%;
        margin: 0 auto;

        position: relative;
    }

    .project-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .projects {
        margin-top: 30px;
    }

    .project-image img {
        width: 345px;
        height: 210px;
    }

    .container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .container-top h3:nth-of-type(1) {
        font-size: 72px;
        font-weight: 700;
        line-height: 40px;
    }

    .container-top h3:nth-of-type(2) {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    #project-line {
        border: 2px solid #6643b5;
        width: 100px;
        margin-top: -55px;

        position: relative;
        left: 86%;
    }

    .project-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .technology {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        gap: 20px;
        opacity: 0.7;
        margin-bottom: 10px;
    }

    .overlay-text {
        display: flex;
        gap: 15px;
    }

    .project-links a {
        text-decoration: 4px underline #6643b5;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px; 
        letter-spacing: 2.286px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin: 0 auto;
        width: 85%;

        position: relative;
    }

    .project-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 50px;
        margin-top: 80px;
    }

    .projects {
        margin-bottom: 50px;

        position: relative;
        display: inline-block;
    }

    .project-image img {
        width: 100%;
        height: auto;

        position: relative;
    }

    .overlay {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0; 
        transition: opacity 0.3s ease; 
    }

    .projects:hover .overlay {
        opacity: 1; 
    }
      
    .overlay-text {
        color: white;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        background: transparent;
    }

    .container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .container-top h3:nth-of-type(1) {
        font-size: 88px;
        font-weight: 700;
        line-height: 40px;
    }

    .container-top h3:nth-of-type(2) {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
    }

    #project-line {
        border: 2px solid #6643b5;
        width: 130px;
        margin-top: -55px;

        position: relative;
        left: 92%;
    }

    .project-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .technology {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        gap: 20px;
        opacity: 0.7;
        margin-bottom: 10px;
    }

    .project-links a {
        text-decoration: 4px underline #6643b5;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px; 
        letter-spacing: 2.286px;
        background: transparent;
    }
}