@media  screen and (max-width: 767px) {
    .hero-container {
        margin: 0 auto;
        width: 90%;
        margin-top: 15px;
    }

    .hero-container h1 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 18px;
        margin-bottom: 60px;
    }

    .profile {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    .profile img {
        width: 250px;
        height: 300px;
    }

    .hero-content h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 15px;
        letter-spacing: -1.136px;
    }

    #name {
        text-decoration: underline #6643b5;
    }

    .hero-content p {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 18px;
    }

    .contact-me h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2.5px;
    }

    #contact-line {
        border: 2px solid #6643b5;
        margin: 0 auto;
        width: 120px;
        margin-top: 5px;
    }
}