@media screen and (max-width: 767px) {
    .skills-container {
        margin: 0 auto;
        width: 90%;
        height: 500px;
        margin-top: 60px;

        /* watch this line */
        margin-bottom: 100px;
    }

    #skills-line-1 {
        border: 1px solid;
        margin-bottom: 30px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: center;

        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }

    #skills-line-2 {
        border: 1px solid;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) { 
    .skills-container {
        width: 95%;
        margin-top: 60px;
        margin-left: 30px;
        height: 380px;

        /* watch this line */
        margin-bottom: 100px;
    }

    #skills-line-1 {
        border: 1px solid;
        margin-bottom: 50px;
        width: 100%;
    }
    
    .skills {
        height: 100%;
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;

        display: grid;
        grid-template-columns: 70% 30%;
    }

    #skills-line-2 {
        border: 1px solid;
        margin-bottom: 50px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .skills-container {
        margin: 0 auto;
        width: 85%;
        height: 380px;

        /* watch this line */
        margin-bottom: 150px;
    }

    #skills-line-1 {
        border: 1px solid;
        margin-bottom: 50px;
        width: 100%;
    }

    .skills {
        height: 90%;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;

        display: grid;
        grid-template-columns: 30% 40% 30%;
    }

    #skills-line-2 {
        border: 1px solid;
        margin-bottom: 50px;
        width: 100%;
    }
}