@media screen and (max-width: 767px) {
    .contact-container {
        position: relative;
        margin-top: 50px;

        /* watch this line */
        margin-bottom: 100px;
    }

    .contact {
        margin: 0 auto;
        width: 95%;
    }

    .contact-top h4 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .contact-top p {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 40px;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    input {
        display: block;
        height: 43px;
        width: 100%;
        margin-bottom: 32px;
        border-bottom: 1px solid #fff;

        font-size: 16px;
        font-weight: 500;
        line-height: 26px; 
        text-indent: 15px;
        padding-left: 15px;
    }

    input:hover {
        border: none;
    }

    textarea {
        height: 187px;
        width: 100%;
        margin-bottom: 32px;
        border-bottom: 1px solid #fff;

        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-indent: 15px;
        padding-left: 15px;
    }

    .submit-btn {
        height: auto;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    button {
        padding: 20px 30px;

        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    #submit-line {
        border: 2px solid #6643b5;
        width: 140px;
        
        position: absolute;
        left: 58.5%;
        margin-top: -8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contact-container {
        position: relative;
        margin-top: 80px;

        /* watch this line */
        margin-bottom: 100px;
    }

    .contact {
        margin: 0 auto;
        width: 75%;
    }

    .contact-top h4 {
        text-align: center;
        font-size: 72px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .contact-top p {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 50px;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    input {
        display: block;
        height: 43px;
        width: 100%;
        margin-bottom: 32px;
        border-bottom: 2px solid #fff;

        font-size: 16px;
        font-weight: 500;
        line-height: 26px; 
        text-indent: 15px;
        padding-left: 15px;
    }

    textarea {
        height: 187px;
        width: 100%;
        margin-bottom: 32px;
        border-bottom: 2px solid #fff;

        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-indent: 15px;
        padding-left: 15px;
    }

    .submit-btn {
        height: auto;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    button {
        padding: 20px 30px;

        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    #submit-line {
        border: 2px solid #6643b5;
        width: 150px;
        
        position: absolute;
        left: 65.5%;
        margin-top: -8px;
    }
}

@media screen and (min-width: 1024px) {
    .contact-container {
        position: relative;
        margin-top: 80px;

        /* watch this line */
        margin-bottom: 100px;
    }

    .contact {
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        column-gap: 80px;
        margin-top: 60px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .contact-top h4 {
        font-size: 88px;
        font-weight: 700;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .contact-top p {
        width: 600px;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 50px;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    input {
        display: block;
        height: 43px;
        width: 100%;
        margin-bottom: 32px;
        border-bottom: 2px solid #fff;

        font-size: 20px;
        font-weight: 500;
        line-height: 26px; 
        text-indent: 15px;
        padding-left: 15px;
    }

    input::placeholder,
    textarea::placeholder {
        text-indent: 15px;
    }

    textarea {
        height: 187px;
        width: 100%;
        margin-bottom: 32px;
        border-bottom: 2px solid #fff;

        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-indent: 15px;
        padding-left: 15px;
    }

    .submit-btn {
        height: auto;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    button {
        padding: 20px 30px;

        font-size: 16px;
        font-weight: 700;
        line-height: 26px;

    }

    button:hover {
        color: #6643b5;
        font-size: 18px;
    }

    #submit-line {
        border: 2px solid #6643b5;
        width: 140px;
        
        position: absolute;
        right: 8.6%;
        top: 100%;
        margin-top: -8px;
    }
}